<section>
  <h1>Thank you for trying my Cheap Flight Finder Application</h1>
  <div class="row">
    <div class="photo col-xs-12 col-sm-6 col-md-3"></div>
    <div class="col-xs-12 col-sm-6 col-md-9">
      <p>My name is Zsolt Kakuk. I was born in 1981. I work for Epam Systems since 2008. I'm a lead front-end developer with ~10 years experience</p>
      <ul>
        <li>The GitHub URL of this project: <a href="https://github.com/kakukzs/cheap-flight-finder" target="_blank">https://github.com/kakukzs/cheap-flight-finder</a></li>
        <li>You can contact me on my Epam email address: <a href="mailto:zsolt_kakuk@epam.com" target="_blank">zsolt_kakuk@epam.com</a></li>
      </ul>
    </div>
  </div>
</section>

