<section class="row">
  <div class="search-details col-xs-12">
    <h1>Your Search Details</h1>
    <strong>You travel from</strong>
    <p>{{from}}</p>
    <strong>You travel to</strong>
    <p>{{to}}</p>
    <strong>Start of date range</strong>
    <p>{{departDate | date}}</p>
    <strong>End of date range</strong>
    <p>{{returnDate | date}}</p>
    <div class="button-row text-xs-center">
      <a class="btn btn-danger" routerLink="" role="button">Back to Search</a>
    </div>
  </div>
</section>
