<section class="search-details row">
  <h1 class="col-xs-12">Your Search Details</h1>
  <strong class="col-xs-12">You travel from</strong>
  <p class="col-xs-12">{{from}}</p>
  <strong class="col-xs-12">You travel to</strong>
  <p class="col-xs-12">{{to}}</p>
  <strong class="col-xs-12">Date of your departure</strong>
  <p class="col-xs-12">{{departDate | date}}</p>
  <strong class="col-xs-12">Date of your return</strong>
  <p class="col-xs-12">{{returnDate | date}}</p>
  <div class="col-xs-12 button-row text-xs-center">
    <a class="btn btn-danger" routerLink="" role="button">Back to Search form</a>
  </div>
</section>
